@charset "utf-8";

.header-in{
    height: 200px;
    width: 960px;
    margin: 0 120px 0 120px;
}

.header-img{
    vertical-align: bottom;
}
.border_slide_btn1 {
    position: relative;
    display: inline-block;
    color: #1B1B1B;
    text-decoration: none;
    width: 80px;
    font-size: 28px;
    font-weight: 700;
  }
  .border_slide_btn1:hover {
    cursor: pointer;
    text-decoration: none;
  }
  .border_slide_btn1::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }
  .border_slide_btn1:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  .border_slide_btn3 {
    position: relative;
    display: inline-block;
    color: #1B1B1B;
    text-decoration: none;
    width: 80px;
    font-size: 28px;
    font-weight: 700;
  }
  .border_slide_btn3:hover {
    cursor: pointer;
    text-decoration: none;
  }
  .border_slide_btn3::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }
  .border_slide_btn3:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  .border_slide_btn2 {
    position: relative;
    display: inline-block;
    color: #1B1B1B;
    text-decoration: none;
    width: 80px;
    font-size: 28px;
    margin-left: 30px;
    margin-right:20px;
    font-weight: 700;
  }
  .border_slide_btn2:hover {
    cursor: pointer;
    text-decoration: none;
  }
  .border_slide_btn2::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }
  .border_slide_btn2:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  .btn{
    float: right;
    margin-top: 75px;
    margin-right: 80px;
  }

  .a-box{
      text-align: center;
      margin-right: 120px;
      margin-left: 120px;
      margin-top: 50px;
      background-image: url(img/bekobe.jpg);
  }

  .a-box a{
      font-size: 30px;
      float: left;
  }

  .a-box p{
      font-size: 20px;
      text-align: center;
      vertical-align: center;
      margin-top: 50px;
      margin-right: 200px;
      margin-left: 200px;

  }

  .a-box img{
      border-radius: 50%;
      margin-right: 70px;
      margin-top: 80px;
  }

  .b-box{
      margin-top: 150px;
      margin-left: 120px;
      margin-right: 120px;
      text-align: center;

  }

  .b-box a{
      float: left;
      font-size: 30px
  }

  .b-box div{
      display: inline-block;
  }

  .b-box img{
      margin-right: 50px;
      margin-left: 50px;
      margin-top: 80px;
  }

  .b-box p{
      font-size: 20px;
  }

  .b-box h1{
      font-size: 20px;

  }

  
  .c-box{
      margin-top: 150px;
      background-color: black;
      color: #ffffff;
  }

  .c-box a{
      margin-left: 120px;
      font-size: 30px;
      margin-top: 70px;

  }

  .c-box div{
      margin-left: 500px;
      font-size: 20px;
      margin-top: 100px;
  }